.hero
    &__headline
        max-width: 360px

        @include tablet
            max-width: 632px

        @include desktop
            max-width: 556px

    &__copy
        margin-top: 28px
        max-width: 450px

        @include tablet
            max-width: 500px

        @include desktop
            max-width: 550px

    &__cta
        width: 100%
        margin-top: 32px

        @include tablet
            width: auto