.hero
    &__tagline
        max-width: 360px
        color: $color-on-background_emphasis_high

        @include tablet
            max-width: 632px

        @include desktop
            max-width: 556px

    &__foreword
        margin-top: 28px
        max-width: 440px
        color: $color-on-background_emphasis_high

        @include tablet
            max-width: 488px

        @include desktop
            max-width: 538px

    &__button
        width: 100%
        margin-top: 32px

        @include tablet
            width: auto