.module
    padding: 0 16px

    @include tablet
        padding: 0 24px

    &__head
        display: flex
        align-items: baseline

    &__heading
        align-self: baseline
        justify-self: flex-start

    &__head-cta
        margin-left: auto
        align-self: baseline
        justify-self: flex-end

    &__body
        margin-top: 12px