.module
    &__inner-head
        display: flex
        align-items: baseline

    &__headline
        align-self: baseline

    &__cta
        margin-left: auto
        align-self: baseline

    &__inner-default:not(:first-child)
        margin-top: 12px