.footer
    padding: 0 16px

    &__inner-default
        display: flex
        min-height: 48px
        align-items: center
        flex-direction: column

        @include tablet
            flex-direction: row

    &__copyright-notice
        margin-left: -16px
        align-self: flex-start

    &__menu-holder
        display: flex
        margin-left: -16px
        margin-right: -16px
        align-self: flex-start
        flex-direction: column
        width: calc(100% + 16px)

        @include tablet
            width: auto
            margin-left: auto
            flex-direction: row
            align-self: flex-end

    @include tablet
        padding: 0 24px

    &__item
        height: 100%
        display: flex
        padding: 12px 16px
        align-items: center
        box-sizing: border-box
        color: $on-background-2

        @include tablet
            padding: 16px