$primary: hsl(268, 100%, 50%)
$primary-variant: hsl(264, 100%, 42%)

$secondary: hsl(48, 100%, 50%)
$secondary-variant: hsl(38, 100%, 50%)

$background: hsl(0, 0%, 100%)
$surface-1: hsl(0, 0%, 100%)
$surface-2: hsla(0, 0%, 100%, 0.96)

$on-primary: hsl(0, 0, 100%)
$on-secondary: hsl(0, 0, 0%)

$on-background-1: hsl(248, 36%, 6%)
$on-background-2: hsl(248, 12%, 60%)
$on-background-3: hsl(248, 20%, 92%)
$on-background-4: hsl(248, 20%, 96%)

$on-surface-1: $on-background-1
$on-surface-2: $on-background-2
$on-surface-3: $on-background-3
$on-surface-4: $on-background-4