$primary: #7E29FF
$primary-variant: #6D00EB

$surface: #FFFFFF
$background: #FFFFFF
$surface-translucent: #fffffff5

$on-primary: #FFFFFF

$on-background-1: #0C0B18
$on-background-2: #8F8DA5
$on-background-3: #E7E6F0
$on-background-4: #F2F2F8

$on-surface-1: #0C0B18
$on-surface-2: #8F8DA5
$on-surface-3: #E7E6F0
$on-surface-4: #F2F2F8