$font-stack-1: "silka", "helvetica neue", "helvetica", sans-serif
$font-stack-2: "manrope", "helvetica neue", "helvetica", sans-serif
    
@font-face
    font-weight: 500
    font-style: normal
    font-family: "manrope"
    src: url(/assets/fonts/manrope-regular.woff2)

@font-face
    font-weight: 100
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-thin.woff2")

@font-face
    font-weight: 100
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-thin-italic.woff2")

@font-fac
    font-weight: 200
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-extra-light.woff2")

@font-face
    font-weight: 200
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-extra-light-italic.woff2")

@font-face
    font-weight: 300
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-light.woff2")

@font-face
    font-weight: 300
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-light-italic.woff2")

@font-face
    font-weight: 400
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-regular.woff2")

@font-face
    font-weight: 400
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-regular-italic.woff2")

@font-face
    font-weight: 500
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-medium.woff2")

@font-face
    font-weight: 500
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-medium-italic.woff2")

@font-face
    font-weight: 600
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-semibold.woff2")

@font-face
    font-weight: 600
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-semibold-italic.woff2")

@font-face
    font-weight: 700
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-bold.woff2")

@font-face
    font-weight: 700
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-bold-italic.woff2")

@font-face
    font-weight: 800
    font-style: normal
    font-family: "silka"
    src: url("/assets/fonts/silka-black.woff2")

@font-face
    font-weight: 800
    font-style: italic
    font-family: "silka"
    src: url("/assets/fonts/silka-black-italic.woff2")