@import "../../common-props/breakpoints"
@import "../../common-props/colors"

$height: 72px
    
.header
    top: 0
    left: 0
    right: 0
    z-index: 1
    width: 100%
    padding: 0 16px
    position: fixed
    box-sizing: border-box
    background-color: $surface-2

    @include tablet
        padding: 0 24px

    &__inner
        display: flex
        height: $height
        align-items: center

    &__inner-holder
        height: 100%
        display: flex

    &__inner-holder--type--logo
        margin-left: -16px
        justify-self: flex-start

    &__inner-holder--type--menu
        display: none
        margin-left: auto
        margin-right: -16px
        justify-self: flex-end

        @include tablet
            display: flex

    &__inner-holder--type--burger
        margin-left: auto
        margin-right: -16px
        justify-self: flex-end

        @include tablet
            display: none

    &__item
        height: 100%
        display: flex
        padding: 16px
        align-items: center
        box-sizing: border-box
        color: $on-background-2

    &__item--active
        color: $on-background-1

    &__logo-img
        height: 26px

        @include tablet
            height: 30px

    &__drawer
        display: none
        height: calc(100vh - 72px)
        flex-direction: column
        justify-content: center
        transition: transform 0.3s ease
        background-color: $surface-1

        &--open
            display: flex

    &__drawer-link
        text-decoration: none

    &__drawer-link:not(:last-child)
        margin-bottom: 16px