@import "../../common-props/breakpoints"
@import "../../common-props/colors"
    
.image-list
    grid-row-gap: 24px

    &__item
        display: flex
        text-decoration: none
        flex-direction: column
        box-sizing: border-box

    &__item_size_2
        grid-row: span 1
        grid-column: span 4

        .image-list__item-photo-img
            height: 100%

        @include desktop
            grid-column: span 6
            grid-row: span 2

        .image-list__item-photo
            flex-grow: 1

    &__item_size_4
        grid-row: span 1
        grid-column: span 4

        @include desktop
            grid-row: span 1
            grid-column: span 3

    &__item-photo
        display: flex  

    &__item-photo-img
        width: 100%
        object-fit: cover

    &__item-headline
        margin-top: 12px

    &__item-copy
        margin-top: 6px
        color: $on-background-2

    @include desktop
        grid-row-gap: none