$color-primary: #FF004D
$color-primary-variant: #EB0046

$color-surface: #FFFFFF
$color-background: #FFFFFF
$color-surface-translucent: #fffffff5

$color-on-primary: #FFFFFF

$color-on-background-1: #0C0B18
$color-on-background-2: #8F8DA5
$color-on-background-3: #E7E6F0
$color-on-background-4: #F2F2F8

$color-on-surface-1: #0C0B18
$color-on-surface-2: #8F8DA5
$color-on-surface-3: #E7E6F0
$color-on-surface-4: #F2F2F8