@charset "UTF-8";
@font-face {
  font-weight: 300;
  font-family: "archia";
  src: url(../fonts/archia-thin.woff2);
}

@font-face {
  font-weight: 400;
  font-family: "archia";
  src: url(../fonts/archia-light.woff2);
}

@font-face {
  font-weight: 500;
  font-family: "archia";
  src: url(../fonts/archia-regular.woff2);
}

@font-face {
  font-weight: 600;
  font-family: "archia";
  src: url(../fonts/archia-medium.woff2);
}

@font-face {
  font-weight: 700;
  font-family: "archia";
  src: url(../fonts/archia-semibold.woff2);
}

@font-face {
  font-weight: 800;
  font-family: "archia";
  src: url(../fonts/archia-bold.woff2);
}

.block {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 769px) {
  .block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .block {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.button {
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .button {
    font-size: 18px;
  }
}

.button_style_1 {
  height: 52px;
  padding: 0 22px;
  color: #7700ff;
  font-weight: 700;
  border-radius: 4px;
  letter-spacing: -0.01em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-box-shadow: inset 0 0 0 1px #7700ff;
          box-shadow: inset 0 0 0 1px #7700ff;
}

.button_style_1:hover {
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.button_style_1:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.button_style_1::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #7700ff;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.button_style_2 {
  color: #7700ff;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.button_style_3 {
  font-weight: 600;
  color: #0b0a15;
  letter-spacing: -0.02em;
}

.button_style_4 {
  font-weight: 500;
  line-height: 18px;
  color: #908da5;
  letter-spacing: -0.02em;
}

@media (min-width: 769px) {
  .button_style_4 {
    line-height: 24px;
  }
}

.button_arrow::after {
  content: "→";
  margin-left: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copy {
  margin: 0;
  font-family: "archia", sans-serif;
}

.copy_style_1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

@media (min-width: 769px) {
  .copy_style_1 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .copy_style_1 {
    font-size: 22px;
    line-height: 32px;
  }
}

.copy_style_2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
}

@media (min-width: 769px) {
  .copy_style_2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.copy_style_3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.footer {
  padding: 0 16px;
}

.footer__inner-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .footer__inner-default {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__copyright-notice {
  margin-left: -16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__menu-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% + 16px);
}

@media (min-width: 769px) {
  .footer__menu-holder {
    width: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 0 24px;
  }
}

.footer__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #908da5;
}

@media (min-width: 769px) {
  .footer__item {
    padding: 16px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 769px) {
  .grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.headline {
  margin: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #0b0a15;
  font-family: "archia", sans-serif;
}

.headline_style_1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.06em;
}

@media (min-width: 769px) {
  .headline_style_1 {
    font-size: 60px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  .headline_style_1 {
    font-size: 84px;
    line-height: 84px;
  }
}

.headline--style--2 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.04em;
}

@media (min-width: 769px) {
  .headline--style--2 {
    font-size: 48px;
    line-height: 52px;
  }
}

@media (min-width: 1024px) {
  .headline--style--2 {
    font-size: 56px;
    line-height: 64px;
  }
}

.headline_style_3 {
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -0.04em;
}

@media (min-width: 769px) {
  .headline_style_3 {
    font-size: 40px;
  }
}

.headline_style_6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.hero__headline {
  max-width: 360px;
}

@media (min-width: 769px) {
  .hero__headline {
    max-width: 632px;
  }
}

@media (min-width: 1024px) {
  .hero__headline {
    max-width: 556px;
  }
}

.hero__copy {
  margin-top: 28px;
  max-width: 450px;
}

@media (min-width: 769px) {
  .hero__copy {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .hero__copy {
    max-width: 550px;
  }
}

.hero__cta {
  width: 100%;
  margin-top: 32px;
}

@media (min-width: 769px) {
  .hero__cta {
    width: auto;
  }
}

.horiz-rubber-box {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image-list {
  grid-row-gap: 24px;
}

.image-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image-list__item_size_2 {
  grid-row: span 1;
  grid-column: span 4;
}

.image-list__item_size_2 .image-list__item-photo-img {
  height: 100%;
}

@media (min-width: 1024px) {
  .image-list__item_size_2 {
    grid-column: span 6;
    grid-row: span 2;
  }
}

.image-list__item_size_2 .image-list__item-photo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.image-list__item_size_4 {
  grid-row: span 1;
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .image-list__item_size_4 {
    grid-row: span 1;
    grid-column: span 3;
  }
}

.image-list__item-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-list__item-photo-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-list__item-headline {
  margin-top: 12px;
}

.image-list__item-copy {
  margin-top: 6px;
  color: #908da5;
}

@media (min-width: 1024px) {
  .image-list {
    grid-row-gap: 16px;
  }
}

.top-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.96);
}

.top-bar__inner-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.top-bar__logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
}

.top-bar__menu-holder {
  display: none;
  margin-left: auto;
  margin-right: -16px;
}

@media (min-width: 769px) {
  .top-bar__menu-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.top-bar__menu-icon-holder {
  margin-left: auto;
  margin-right: -16px;
}

@media (min-width: 769px) {
  .top-bar__menu-icon-holder {
    display: none;
  }
}

.top-bar__item {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #908da5;
}

.top-bar__item_active {
  color: #0b0a15;
}

.top-bar__logo-img {
  height: 26px;
  margin: auto 0;
}

@media (min-width: 769px) {
  .top-bar__logo-img {
    height: 30px;
  }
}

.top-bar__inner-menu-drawer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 72px);
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.top-bar__inner-menu-drawer_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 769px) {
  .top-bar__inner-menu-drawer_open {
    display: none;
  }
}

.top-bar__menu-drawer-item {
  padding: 8px 0;
  cursor: pointer;
}

.main-default {
  padding-top: 72px;
}

.module__inner-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.module__headline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.module__cta {
  margin-left: auto;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.module__inner-default {
  margin-top: 12px;
}

.summary-page {
  margin: 0;
  padding: 0;
  background-color: white;
}

.summary-page__hero {
  margin-top: 36px;
}

@media (min-width: 769px) {
  .summary-page__hero {
    margin-top: 64px;
  }
}

.summary-page__highlights {
  margin-top: 56px;
}

@media (min-width: 769px) {
  .summary-page__highlights {
    margin-top: 72px;
  }
}

.summary-page__footer {
  margin-top: 48px;
  margin-bottom: 16px;
}

@media (min-width: 769px) {
  .summary-page__footer {
    margin-top: 64px;
  }
}

.top-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.96);
}

.top-bar__inner-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.top-bar__logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
}

.top-bar__menu-holder {
  display: none;
  margin-left: auto;
  margin-right: -16px;
}

@media (min-width: 769px) {
  .top-bar__menu-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.top-bar__menu-icon-holder {
  margin-left: auto;
  margin-right: -16px;
}

@media (min-width: 769px) {
  .top-bar__menu-icon-holder {
    display: none;
  }
}

.top-bar__item {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #908da5;
}

.top-bar__item_active {
  color: #0b0a15;
}

.top-bar__logo-img {
  height: 26px;
  margin: auto 0;
}

@media (min-width: 769px) {
  .top-bar__logo-img {
    height: 30px;
  }
}

.top-bar__inner-menu-drawer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 72px);
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.top-bar__inner-menu-drawer_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 769px) {
  .top-bar__inner-menu-drawer_open {
    display: none;
  }
}

.top-bar__menu-drawer-item {
  padding: 8px 0;
  cursor: pointer;
}

.vert-rubber-box {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */