@charset "UTF-8";
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "manrope";
  src: url(/assets/fonts/manrope-regular.woff2);
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-thin.woff2");
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-thin-italic.woff2");
}

@font-fac {
  font-weight: 200;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-extra-light.woff2");
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-extra-light-italic.woff2");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-light.woff2");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-light-italic.woff2");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-regular.woff2");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-regular-italic.woff2");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-medium.woff2");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-medium-italic.woff2");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-semibold.woff2");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-semibold-italic.woff2");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-bold.woff2");
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-bold-italic.woff2");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "silka";
  src: url("/assets/fonts/silka-black.woff2");
}

@font-face {
  font-weight: 800;
  font-style: italic;
  font-family: "silka";
  src: url("/assets/fonts/silka-black-italic.woff2");
}

.button {
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button__icon {
  height: 24px;
  margin-bottom: 2px;
}

.button__icon_position_leading {
  margin-right: 8px;
}

@media (min-width: 769px) {
  .button {
    font-size: 18px;
  }
}

.button_style_1 {
  height: 52px;
  padding: 0 24px;
  font-weight: 500;
  border-radius: 4px;
  color: #7700ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.01em;
  font-family: "silka", "helvetica neue", "helvetica", sans-serif;
  -webkit-transition: color 0.24s ease;
  transition: color 0.24s ease;
  -webkit-box-shadow: inset 0 0 0 1px #7700ff;
          box-shadow: inset 0 0 0 1px #7700ff;
}

.button_style_1:hover {
  color: white;
  -webkit-transition: color 0.24s ease;
  transition: color 0.24s ease;
}

.button_style_1:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
}

.button_style_1::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background-color: #7700ff;
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
}

.button_style_2 {
  font-weight: 500;
  color: #7700ff;
  letter-spacing: -0.02em;
  font-family: "silka", "helvetica neue", "helvetica", sans-serif;
}

.button_style_2 .button__icon {
  fill: #7700ff;
}

.button_style_2:hover {
  color: black;
}

.button_style_2:hover .button__icon {
  fill: black;
}

.button_style_3 {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-family: "manrope", sans-serif;
}

@media (min-width: 769px) {
  .button_style_3 {
    line-height: 24px;
  }
}

.button_decoration_arrow::after {
  content: "→";
  margin-left: 16px;
}

.button_decoration_icon:hover .download-icon__transformable-path {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1248px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 769px) {
  .container {
    padding: 0 24px;
  }
}

.copy {
  margin: 0;
}

.copy_style_1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  font-family: "silka", "helvetica neue", "helvetica", sans-serif;
}

@media (min-width: 769px) {
  .copy_style_1 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .copy_style_1 {
    font-size: 22px;
    line-height: 32px;
  }
}

.copy_style_2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.02em;
  font-family: "manrope", sans-serif;
}

@media (min-width: 769px) {
  .copy_style_2 {
    font-size: 18px;
    line-height: 26px;
  }
}

.copy_style_3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-family: "manrope", sans-serif;
}

.copy_style_4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-family: "manrope", sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .footer {
    height: 72px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .footer__menu {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: -16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__menu-link {
  height: 100%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #908da5;
}

.footer__menu-link:hover {
  color: black;
}

.footer__copyright-note {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #908da5;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 769px) {
  .grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  background-color: white;
}

.header__main {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 100%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-left: -16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__logo-img {
  height: 28px;
  margin: auto 0;
  fill: black;
}

@media (min-width: 769px) {
  .header__logo-img {
    height: 30px;
  }
}

.header__nav {
  height: 100%;
  display: none;
  margin-left: auto;
  margin-right: -16px;
}

@media (min-width: 769px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-link {
  padding: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}

.header__nav-link::after {
  top: 0;
  bottom: 0;
  left: 16px;
  right: 16px;
  content: "";
  position: absolute;
  -webkit-transition: border-width 0.12s ease;
  transition: border-width 0.12s ease;
  border-bottom: 0px solid #e8e7ef;
}

.header__nav-link:hover::after {
  border-width: 4px;
  -webkit-transition: border-width 0.12s ease;
  transition: border-width 0.12s ease;
}

.header__nav-link_active::after {
  border-width: 4px;
  border-color: #7700ff;
}

.header__drawer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 72px);
}

.header__drawer_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 769px) {
  .header__drawer_open {
    display: none;
  }
}

.header__drawer-link {
  padding: 8px 0;
  cursor: pointer;
  color: black;
}

.header__drawer-link_active {
  color: #7700ff;
}

.header__menu-toggle {
  height: 100%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-left: auto;
  margin-right: -16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 769px) {
  .header__menu-toggle {
    display: none;
  }
}

.header__sandwich {
  width: 20px;
  height: 8px;
  display: block;
  margin: auto 0;
  position: relative;
}

.header__sandwich::before {
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
  background-color: black;
}

.header__sandwich::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
  background-color: black;
}

.header__sandwich_appearance_x::before {
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.header__sandwich_appearance_x::after {
  -webkit-transition: -webkit-transform 0.24s ease;
  transition: -webkit-transform 0.24s ease;
  transition: transform 0.24s ease;
  transition: transform 0.24s ease, -webkit-transform 0.24s ease;
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}

.headline {
  margin: 0;
  font-family: "silka", "helvetica neue", "helvetica", sans-serif;
}

.headline_style_1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.06em;
}

@media (min-width: 769px) {
  .headline_style_1 {
    font-size: 60px;
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  .headline_style_1 {
    font-size: 84px;
    line-height: 84px;
  }
}

.headline_style_2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04em;
}

@media (min-width: 769px) {
  .headline_style_2 {
    font-size: 48px;
    line-height: 52px;
  }
}

@media (min-width: 1024px) {
  .headline_style_2 {
    font-size: 56px;
    line-height: 64px;
  }
}

.headline_style_3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.04em;
}

@media (min-width: 769px) {
  .headline_style_3 {
    font-size: 40px;
  }
}

.headline_style_6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.hero__tagline {
  max-width: 360px;
  color: black;
}

@media (min-width: 769px) {
  .hero__tagline {
    max-width: 632px;
  }
}

@media (min-width: 1024px) {
  .hero__tagline {
    max-width: 556px;
  }
}

.hero__foreword {
  margin-top: 28px;
  max-width: 440px;
  color: black;
}

@media (min-width: 769px) {
  .hero__foreword {
    max-width: 488px;
  }
}

@media (min-width: 1024px) {
  .hero__foreword {
    max-width: 538px;
  }
}

.hero__button {
  width: 100%;
  margin-top: 32px;
}

@media (min-width: 769px) {
  .hero__button {
    width: auto;
  }
}

.home__hero {
  margin-top: 36px;
}

@media (min-width: 769px) {
  .home__hero {
    margin-top: 64px;
  }
}

.home__work-highlights {
  margin-top: 56px;
}

@media (min-width: 769px) {
  .home__work-highlights {
    margin-top: 72px;
  }
}

.home__footer {
  margin-top: 48px;
}

@media (min-width: 769px) {
  .home__footer {
    margin-top: 64px;
  }
}

.main {
  padding-top: 72px;
}

.page {
  margin: 0;
  padding: 0;
  background-color: white;
}

.page_no-scroll {
  overflow: hidden;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: black;
}

.section__button {
  margin-left: auto;
}

.section__main {
  margin-top: 8px;
}

.work-frames {
  grid-row-gap: 28px;
}

.work-frames__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-frames__frame_size_sm {
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .work-frames__frame_size_sm {
    grid-column: span 6;
  }
}

.work-frames__frame_size_lg {
  grid-column: 1/-1;
}

@media (min-width: 769px) {
  .work-frames__frame_size_lg {
    grid-column: 1/-1;
  }
}

.work-frames__picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-frames__picture-img {
  width: 100%;
  height: 100%;
}

.work-frames__caption {
  margin-top: 14px;
  color: #908da5;
}

.work-intro {
  margin-top: 40px;
  margin-bottom: 36px;
}

.work-intro__subtitle {
  margin-top: 6px;
  color: #908da5;
}

.work-intro__copy {
  max-width: 580px;
  margin-top: 24px;
  color: black;
}

@media (min-width: 769px) {
  .work-intro__copy {
    max-width: 600px;
  }
}

.work-intro__button {
  padding: 4px 0;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .work-intro {
    margin-top: 48px;
  }
}

.work-tiles {
  grid-row-gap: 20px;
}

.work-tiles__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-tiles__tile:hover .work-tiles__picture-img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: -webkit-transform 0.32s ease;
  transition: -webkit-transform 0.32s ease;
  transition: transform 0.32s ease;
  transition: transform 0.32s ease, -webkit-transform 0.32s ease;
}

.work-tiles__tile_size_sm {
  grid-row: span 1;
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .work-tiles__tile_size_sm {
    grid-column: span 3;
  }
}

.work-tiles__tile_size_lg {
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .work-tiles__tile_size_lg {
    grid-row: span 2;
    grid-column: span 6;
  }
}

.work-tiles__picture {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.work-tiles__picture-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.32s ease;
  transition: -webkit-transform 0.32s ease;
  transition: transform 0.32s ease;
  transition: transform 0.32s ease, -webkit-transform 0.32s ease;
}

.work-tiles__headline {
  margin-top: 10px;
  color: black;
}

.work-tiles__subtitle {
  margin-top: 4px;
  color: #908da5;
}

@media (min-width: 1024px) {
  .work-tiles {
    grid-row-gap: 24px;
  }
}
/*# sourceMappingURL=main.css.map */