@charset "UTF-8";
@font-face {
  font-weight: 300;
  font-family: "archia";
  src: url(../fonts/archia-thin.woff2);
}
@font-face {
  font-weight: 400;
  font-family: "archia";
  src: url(../fonts/archia-light.woff2);
}
@font-face {
  font-weight: 500;
  font-family: "archia";
  src: url(../fonts/archia-regular.woff2);
}
@font-face {
  font-weight: 600;
  font-family: "archia";
  src: url(../fonts/archia-medium.woff2);
}
@font-face {
  font-weight: 700;
  font-family: "archia";
  src: url(../fonts/archia-semibold.woff2);
}
@font-face {
  font-weight: 800;
  font-family: "archia";
  src: url(../fonts/archia-bold.woff2);
}
.uGRT {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-family: "archia", sans-serif;
}
@media (min-width: 769px) {
  .uGRT {
    font-size: 56px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .uGRT {
    font-size: 72px;
    line-height: 80px;
  }
}

.CoGR {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.03em;
  font-family: "archia", sans-serif;
}
@media (min-width: 769px) {
  .CoGR {
    font-size: 38px;
  }
}

.oIbQ {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-family: "archia", sans-serif;
}

.tGoo, .qTDt {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  font-family: "archia", sans-serif;
}

.akVy {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -0.01em;
  font-family: "archia", sans-serif;
}
@media (min-width: 769px) {
  .akVy {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .akVy {
    font-size: 18px;
  }
}

.IiPh {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
  letter-spacing: -0.01em;
  font-family: "archia", sans-serif;
}
@media (min-width: 769px) {
  .IiPh {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .IiPh {
    font-size: 18px;
  }
}

.uWWa {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
}

.UwAp {
  padding: 20px 20px 0 20px;
}
@media (min-width: 769px) {
  .UwAp {
    padding: 24px 24px 0 24px;
  }
}

.AGzk {
  margin: 0 auto;
  max-width: 1180px;
}

.wIQY {
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
  position: fixed;
  box-sizing: border-box;
  transition: padding 0.3s ease;
  background-color: #fffffff5;
}
@media (min-width: 769px) {
  .wIQY {
    padding: 24px;
  }
}

html:not([data-scroll="0"]) .wIQY {
  padding-top: 8px;
  padding-bottom: 8px;
  transition: padding 0.3s ease;
}

.NpOd {
  padding-top: 96px;
}
@media (min-width: 769px) {
  .NpOd {
    padding-top: 104px;
  }
}

.Wagz {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WiAd {
  height: 100%;
  display: flex;
  align-items: center;
}

.NJiw {
  height: 100%;
  display: flex;
}
.NJiw > *:last-child {
  margin-right: -16px;
}

.owBs {
  width: 56px;
  border-radius: 50%;
  justify-content: center;
  background-color: transparent;
}
.owBs:hover, .owBs:focus {
  background-color: #F2F2F8;
  outline: none;
}

.FMWd {
  width: 24px;
  height: 24px;
}

.TMEK {
  height: 28px;
}
@media (min-width: 769px) {
  .TMEK {
    height: 32px;
  }
}

.DsUf {
  padding-top: 76px;
}
@media (min-width: 769px) {
  .DsUf {
    padding-top: 88px;
  }
}

.Rgeu {
  padding-top: 44px;
}
@media (min-width: 769px) {
  .Rgeu {
    padding-top: 56px;
  }
}

.VbTk {
  padding-top: 76px;
  padding-bottom: 24px;
}
@media (min-width: 769px) {
  .VbTk {
    padding-top: 88px;
    padding-bottom: 28px;
  }
}

.uGRT {
  color: #0C0B18;
}

.fAET {
  max-width: 420px;
}
@media (min-width: 769px) {
  .fAET {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  .fAET {
    max-width: 740px;
  }
}

.UShB {
  font-size: 18px;
  font-weight: 500;
  max-width: 460px;
  line-height: 148%;
  margin: 28px 0 0 0;
  letter-spacing: -0.03em;
  font-family: "archia", sans-serif;
}
@media (min-width: 769px) {
  .UShB {
    font-size: 20px;
    max-width: 500px;
  }
}
@media (min-width: 1024px) {
  .UShB {
    font-size: 22px;
    max-width: 560px;
  }
}

.Rllq {
  margin-top: 36px;
}

.akVy {
  height: 52px;
  cursor: pointer;
  padding: 0 22px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  color: #FF004D;
  box-sizing: border-box;
  justify-content: center;
  transition: color 0.2s ease;
  box-shadow: inset 0 0 0 1px #FF004D;
}
.akVy:hover, .akVy:focus {
  color: #FFFFFF;
  transition: color 0.2s ease;
}
.akVy:hover::before, .akVy:focus::before {
  transform: scaleY(1);
  transition: transform 0.2s ease;
}
.akVy::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  position: absolute;
  transform: scaleY(0);
  background: #FF004D;
  transform-origin: 50% 100%;
  transition: transform 0.2s ease;
}
.akVy::after {
  content: "→";
  margin-left: 16px;
}

.doUw {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.oIbQ {
  color: #0C0B18;
}

.qTDt {
  color: #0C0B18;
}

.IiPh {
  cursor: pointer;
  color: #FF004D;
  display: inline-block;
}
.IiPh:hover, .IiPh:focus {
  color: #EB0046;
  outline: thin solid #EB0046;
}

.CoGR {
  color: #0C0B18;
}

.YUdb {
  display: grid;
  grid-gap: 16px;
  margin-top: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}
@media (min-width: 769px) {
  .YUdb {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (min-width: 1024px) {
  .YUdb {
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
}

.QuFm {
  display: flex;
  flex-direction: column;
}

.OvGI {
  grid-row: 1/2;
  grid-column: 1/5;
}
@media (min-width: 769px) {
  .OvGI {
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .OvGI {
    grid-row: 1/3;
    grid-column: 1/7;
  }
}

.BcoT {
  height: 0;
  flex-grow: 1;
  padding-bottom: calc(9/16 * 100%);
  background-image: url("../img/iqUp.png");
}
@media (min-width: 1024px) {
  .BcoT {
    height: auto;
    padding-bottom: 0;
    background-image: url("../img/unIz.png");
  }
}

.GBcP {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eqtv {
  background-image: url("../img/hOzo.png");
}

.PFmg {
  background-image: url("../img/FSrB.png");
}

.HwOq {
  background-image: url("../img/ICwl.png");
}

.KRsH {
  height: 0;
  padding-bottom: calc(9/16 * 100%);
}

.lMPA {
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #8F8DA5;
}

.ZQRm {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hMzu {
  grid-row: 2/3;
  grid-column: 1/5;
}
@media (min-width: 769px) {
  .hMzu {
    grid-row: 1/2;
    grid-column: 5/-1;
  }
}
@media (min-width: 1024px) {
  .hMzu {
    grid-column: 7/10;
  }
}

.beIP {
  grid-column: 1/5;
  grid-row: 3/4;
}
@media (min-width: 769px) {
  .beIP {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .beIP {
    grid-row: 1/2;
    grid-column: 10/-1;
  }
}

.AUdJ {
  grid-row: 4/5;
  grid-column: 1/5;
}
@media (min-width: 769px) {
  .AUdJ {
    grid-row: 2/3;
    grid-column: 5/-1;
  }
}
@media (min-width: 1024px) {
  .AUdJ {
    grid-row: 2/3;
    grid-column: 7/10;
  }
}

.Apkb {
  grid-row: 5/6;
  grid-column: 1/5;
}
@media (min-width: 769px) {
  .Apkb {
    grid-row: 3/4;
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .Apkb {
    grid-row: 2/3;
    grid-column: 10/-1;
  }
}

.bIsr {
  display: none;
}
@media (min-width: 769px) {
  .bIsr {
    display: flex;
  }
}

.SzOA {
  display: none;
}
@media (min-width: 1024px) {
  .SzOA {
    display: flex;
  }
}