@font-face {
  font-weight: 300;
  font-family: "archia";
  src: url(../fonts/archia-thin.woff2);
}

@font-face {
  font-weight: 400;
  font-family: "archia";
  src: url(../fonts/archia-light.woff2);
}

@font-face {
  font-weight: 500;
  font-family: "archia";
  src: url(../fonts/archia-regular.woff2);
}

@font-face {
  font-weight: 600;
  font-family: "archia";
  src: url(../fonts/archia-medium.woff2);
}

@font-face {
  font-weight: 700;
  font-family: "archia";
  src: url(../fonts/archia-semibold.woff2);
}

@font-face {
  font-weight: 800;
  font-family: "archia";
  src: url(../fonts/archia-bold.woff2);
}

.uGRT {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .uGRT {
    font-size: 60px;
  }
}

.gRsQ {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .gRsQ {
    font-size: 32px;
  }
}

.eyEc {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  font-family: "archia", sans-serif;
}

.oIbQ {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .oIbQ {
    font-size: 20px;
  }
}

.qTDt {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.01em;
  font-family: "archia", sans-serif;
}

.akVy {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .akVy {
    font-size: 14px;
  }
}

.Cxbi {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-family: "archia", sans-serif;
}

.IiPh {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0em;
  text-decoration: none;
  font-family: "archia", sans-serif;
}

.wIQY {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.UwAp {
  padding: 20px 20px;
}

@media (min-width: 769px) {
  .UwAp {
    padding: 24px 24px;
  }
}

.AGzk {
  margin: 0 auto;
  max-width: 1200px;
}

.WiAd {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NJiw {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NJiw > *:last-child {
  margin-right: -16px;
}

.owBs {
  width: 56px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.owBs:hover {
  background-color: #F5F5FA;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.FMWd {
  height: 22px;
}

@media (min-width: 769px) {
  .FMWd {
    height: 24px;
  }
}

.TMEK {
  height: 30px;
}

@media (min-width: 769px) {
  .TMEK {
    height: 32px;
  }
}

.DsUf {
  padding-top: 32px;
  padding-bottom: 32px;
}

.uGRT {
  color: #1E1D2B;
}

.fAET {
  max-width: 480px;
}

@media (min-width: 769px) {
  .fAET {
    max-width: 740px;
  }
}

.UShB {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
  max-width: 520px;
  line-height: 148%;
  letter-spacing: -0.01em;
  font-family: "archia", sans-serif;
}

@media (min-width: 769px) {
  .UShB {
    font-size: 22px;
    max-width: 574px;
  }
}

.Rllq {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  margin-top: 32px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 769px) {
  .Rllq {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

.akVy {
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1E1D2B;
  border: 1px solid #E7E6F0;
}

.akVy.BVpW:not(.aYuR) {
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.akVy.BVpW:not(.aYuR):hover {
  border-color: transparent;
  color: #1E1D2B;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.akVy.BVpW:not(.aYuR)::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0%;
  content: "";
  z-index: -1;
  position: absolute;
  -webkit-transform: scale(0.82);
          transform: scale(0.82);
  border-radius: inherit;
  background-color: #F5F5FA;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.akVy.BVpW:not(.aYuR):hover::before {
  opacity: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.akVy:not(.aYuR):not(.BVpW) {
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.akVy:not(.aYuR):not(.BVpW):hover {
  border-color: transparent;
  background-color: #F5F5FA;
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 769px) {
  .akVy {
    padding: 0 16px;
  }
}

.BVpW {
  height: 48px;
}

.aYuR {
  border: none;
  color: #FFFFFF;
  background-color: #FF145B;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.aYuR:hover {
  background-color: #EB0E58;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.gRsQ {
  color: #1E1D2B;
}

.doUw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dpOB {
  margin-top: 8px;
}

.TmCC {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 32px;
  -ms-grid-columns: none;
      grid-template-columns: none;
}

@media (min-width: 769px) {
  .TmCC {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
}

.Cxbi {
  color: #FF145B;
}

.eyEc {
  color: #1E1D2B;
}

.GEHw {
  margin-top: 8px;
  white-space: nowrap;
}

.YDdY {
  height: 294px;
  background-size: cover;
  background-position: center;
  border-radius: 16px 16px 0 0;
  background-image: url("../img/dGQP.png");
}

.QmXm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jMbG {
  border-radius: 16px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
}

.jMbG::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: inherit;
  -webkit-box-shadow: 0px 2px 8px rgba(154, 156, 184, 0.08), 0px 16px 36px rgba(151, 153, 184, 0.18);
          box-shadow: 0px 2px 8px rgba(154, 156, 184, 0.08), 0px 16px 36px rgba(151, 153, 184, 0.18);
}

.ughd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.oIbQ {
  color: #1E1D2B;
}

.qTDt {
  color: #1E1D2B;
}

.fZKB {
  margin-top: 4px;
  color: #9291A8;
}

.QyBd {
  margin-top: 8px;
  color: #9291A8;
}

.dwxj {
  display: none;
}

.lmVH {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #E7E6F0;
}

.ZKGu {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
}

@media (min-width: 769px) {
  .ZKGu {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.zRqS {
  padding: 32px;
}

.pKBp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Dexq {
  margin-left: 16px;
}

.NvfP {
  margin-top: 20px;
  color: #1E1D2B;
}

.uWWa {
  margin: 0;
}

.IiPh {
  color: #FF145B;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.IiPh:hover {
  color: #EB0E58;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.oPRx {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.WXTq {
  margin-top: 16px;
}
/*# sourceMappingURL=styles.css.map */