@import url('https://rsms.me/inter/inter.css');

html { 
  font-family: "inter var", sans-serif; 
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

body {
  --tc-bg: #FFF;
  --bg: #FFF;
  --fg: #000;
  --bg-secondary: #F1F3F9;
  --acc: #FF165C;
  --border: #E8E9F0;
  --acc-secondary: #F00F53;
  --acc-translucent: rgba(255, 22, 92, 0.10);
  --anim-values: 0.3s ease;
  --fg-secondary: #141720;
  --tc-shadow: 0 3px 8px rgba(154, 160, 185,.08), 0 16px 36px rgba(154, 160, 185, .18);
  --tc-border: none;
  transition: var(--anim-values);
  background-color: var(--bg);
}

.is-dark {
  --tc-bg: rgb(21, 21, 24);
  --bg: #000;
  --fg: #FFF;
  --bg-secondary: rgb(29, 29, 32);
  --border: #1c1c20;
  --acc: #FF165C;
  --tc-shadow: none;
}

p {
  font-family: "inter var", sans-serif;
  font-weight: 350;
  line-height: 140%;
  letter-spacing: -0.01em;
  margin: 0;
  font-size: 15.5px;
  color: var(--fg);
  transition: 0.3s ease;
}

.container {
  max-width: 1280px;
  padding-right: 28px;
  padding-left: 28px;
}

.row {
  margin-right: -6px;
  margin-left: -6px;
}

.col-md-4 {
  padding-left: 6px;
  padding-right: 6px;
}

[id^=serv-tl] {
  background: var(--tc-bg);
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  padding: 36px;
  padding-bottom: 28px;
  border-radius: 12px;
  transition: var(--anim-values);
}

[id^=serv-tl]:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: var(--tc-shadow);
}

#header-bg {
  height: 62px;
  border-bottom: 1px solid var(--border);
  transition: var(--anim-values);
}

#btn-grp-header {
  margin-bottom: 8px;
}

#btn-grp-header a {
  height: 40px;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  margin-left: 12px;
  transition: var(--anim-values);
}

#btn-grp-header a:hover {
  background-color: var(--acc-translucent);
  text-decoration: none;
}

#btn-grp-header a:hover i {
  color: var(--acc);
  text-decoration: none;
}

#btn-grp-header a:hover p {
  color: var(--acc);
}

#btn-grp-header [id^=btn] {
  width: 40px;
}

h1 {
  font-family: "inter var", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.036em;
  font-feature-settings: "ss04" on, "ss03" on;
  color: var(--fg);
  transition: var(--anim-values);
}

.btn-primary {
  font-family: "inter var", sans-serif;
  font-weight: 500;
  font-size: 15.5px;
  font-feature-settings: "ss04" on, "ss03" on;
  color: #FFF !important;
  border: none;
  background-color: var(--acc);
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-top: 14px;
  border-radius: 10px;
  transition: var(--anim-values);
}

.btn-primary:hover {
  background-color: var(--acc-secondary);
}

.btn.btn-primary:focus {
  background-color: var(--acc-secondary) !important;
  box-shadow: none !important;
}

.btn.btn-primary:active {
  background-color: var(--acc-secondary) !important;
  box-shadow: none !important;
}

.btn-secondary {
  font-family: "inter var", sans-serif;
  font-weight: 500;
  font-size: 15.5px;
  font-feature-settings: "ss04" on, "ss03" on;
  color: var(--fg) !important;
  background-color: var(--bg);
  border: 1px solid var(--border);
  height: 54px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-top: 14px;
  border-radius: 10px;
  transition: var(--anim-values);
}

a .label-short {
  display: none;
}

.btn-secondary:hover {
  border: 1px solid var(--fg);
  color: var(--fg);
  background-color: var(--bg);
}

.btn.btn-secondary:focus {
  border: 1px solid var(--fg) !important;
  color: var(--fg) !important;
  background-color: var(--bg) !important;
  box-shadow: none !important;
}

.btn.btn-secondary:active {
  border: 1px solid var(--fg) !important;
  color: var(--fg) !important;
  background-color: var(--bg) !important;
  box-shadow: none !important;
}

#hero #tagline {
  margin-bottom: 36px;
}

.btn-content-secondary {
  font-weight: 300;
  opacity: 0.85;
}

h3 {
  font-family: "inter var", sans-serif;
  font-weight: 625;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--fg);
  transition: var(--anim-values);
}

.service-tile img {
  height: 48px;
}

[id^=serv-tl] a {
  -webkit-font-feature-settings: "liga" 1, "calt" 1;
  font-feature-settings: "liga" 1, "calt" 1;
  cursor: pointer;
  font-family: "inter var", sans-serif;
  font-weight: 350;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-size: 15.5px;
  color: var(--acc) !important;
  transition: var(--anim-values);
}

[id^=serv-tl] a:hover {
  color: var(--fg) !important;
}

#btn-grp-header [id] i {
  font-size: 30px !important;
  color: var(--fg);
  transition: var(--anim-values);
}

div [role="button"] {
  cursor: pointer;
}

#colr-mode-toggle {
  height: 40px;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  padding-left: 6px;
  padding-right: 14px;
  transition: var(--anim-values);
}

#colr-mode-toggle i {
  margin-right: 8px;
}

#ic-colr-mode {
  transition: var(--anim-values);
}

.is-rotated {
  transform: rotate(-180deg);
  transition: var(--anim-values);
}

#wordmark {
  width: 88px;
}

#wordmark .period {
  fill: var(--acc);
}

#wordmark .letter {
  fill: var(--fg);
}

#wordmark * {
  transition: var(--anim-values);
}

#header {
  margin-top: 96px;
  margin-bottom: 68px;
}

#hero div a {
  margin-right: 12px;
}

#hero {
  margin-bottom: 68px;
}

[id^=serv-tl] img {
  height: 48px;
  margin-bottom: 38px;
}

[id^=serv-tl] h3 {
  margin-bottom: 19px;
}

[id^=serv-tl] p {
  margin-bottom: 16px;
}

@media (max-width: 576px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }

  #colr-mode-toggle p {
    display: none;
  }

  #colr-mode-toggle {
    padding: 0;
    width: 40px;
  }

  #colr-mode-toggle i {
    margin-right: 0;
    margin-left: 4.5px;
  }

  h1 {
    font-size: 42px;
  }

  #header {
    margin-top: 76px;
    margin-bottom: 48px;
  }

  .btn-primary {
    font-size: 15px;
  }

  .btn {
    width: calc(50vw - 22px);
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn-secondary {
    margin-right: 0 !important;
    font-size: 15px;
  }

  #header-bg {
    height: 48px;
  }

  #btn-grp-header [id] i {
    font-size: 32px !important;
  }

  #btn-grp-header a {
    height: 40px;
  }
  
  #btn-grp-header [id^=btn] {
    width: 40px;
  }

  #btn-grp-header {
    margin-bottom: 6px;
  }

  #hero #tagline {
    margin-bottom: 24px;
  }

  #hero {
    margin-bottom: 56px;
  } 

  a .label-short {
    display: inline-block;
  }

  a .label-long {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
}