.copy
    margin: 0

.copy_style_1
    font-size: 18px
    font-weight: 400
    line-height: 24px
    letter-spacing: -0.03em
    font-family: $font-stack-1

    @include tablet
        font-size: 20px
        line-height: 28px
    
    @include desktop
        font-size: 22px
        line-height: 32px

.copy_style_2
    font-size: 16px
    font-weight: 400
    line-height: 26px
    letter-spacing: -0.02em
    font-family: $font-stack-1

    @include tablet
        font-size: 18px
        line-height: 26px

.copy_style_3
    font-size: 16px
    font-weight: 400
    line-height: 18px
    letter-spacing: -0.02em
    font-family: $font-stack-1

.copy_style_4
    font-size: 14px
    font-weight: 400
    line-height: 18px
    letter-spacing: -0.01em
    font-family: $font-stack-1