@import "../../common-props/colors"
    
.copy
    margin: 0

.copy_style_1
    font-size: 18px
    font-weight: 500
    line-height: 24px
    letter-spacing: -0.03em
    font-family: "archia", sans-serif

    @include tablet
        font-size: 20px
        line-height: 28px
    
    @include desktop
        font-size: 22px
        line-height: 32px

.copy_style_2
    font-size: 16px
    font-weight: 500
    line-height: 22px
    letter-spacing: 0.03em
    font-family: "manrope", sans-serif

    @include tablet
        font-size: 18px
        line-height: 26px

.copy_style_3
    font-size: 16px
    font-weight: 500
    line-height: 18px
    letter-spacing: 0.03em
    font-family: "manrope", sans-serif

.copy_style_4
    font-size: 14px
    font-weight: 500
    line-height: 16px
    letter-spacing: 0.03em
    font-family: "manrope", sans-serif