$inner-default-height: 72px
    
.top-bar
    top: 0
    left: 0
    right: 0
    z-index: 1
    position: fixed
    background-color: $surface-2

    &__inner-default
        display: flex
        align-items: center
        height: $inner-default-height

    &__logo-holder
        display: flex
        margin-left: -16px

    &__menu-holder
        display: none
        margin-left: auto
        margin-right: -16px

        @include tablet
            display: flex

    &__menu-button-holder
        margin-left: auto
        margin-right: -16px

        @include tablet
            display: none

    &__item
        padding: 16px
        display: flex
        cursor: pointer
        align-items: center

    &__text-link
        color: $on-background-1

        &::after
            top: 0
            left: 16px
            right: 16px
            bottom: 0
            content: ""
            position: absolute
            border-bottom: 0px solid $on-background-3
            transition: border-width 0.1s ease

        &:hover::after
            border-width: 4px
            transition: border-width 0.1s ease

    &__text-link_active::after
        top: 0
        left: 16px
        right: 16px
        bottom: 0
        content: ""
        position: absolute
        border-bottom: 4px solid $primary

    &__logo-img
        height: 26px
        margin: auto 0

        @include tablet
            height: 30px

    &__inner-menu-drawer
        display: none
        flex-direction: column
        justify-content: center
        height: calc(100vh - 72px)
        background-color: $surface-1

        &_open
            display: flex

            @include tablet
                display: none

    &__menu-drawer-item
        padding: 8px 0
        cursor: pointer

        &_active
            color: $primary

    &__menu-icon
        width: 18px
        height: 8px
        position: relative

        &::before
            left: 0
            top: 0
            right: 0
            content: ""
            height: 2px
            position: absolute
            background-color: $on-background-1
            transition: transform 0.3s ease

        &::after
            left: 0
            bottom: 0
            right: 0
            content: ""
            height: 2px
            position: absolute
            background-color: $on-background-1
            transition: transform 0.3s ease

    &__menu-icon_clicked
        &::before
            transform: translateY(3px) rotate(45deg)
            transition: transform 0.3s ease

        &::after
            transform: translateY(-3px) rotate(-45deg)
            transition: transform 0.3s ease