.summary-page
    &__hero
        margin-top: 36px

        @include tablet
            margin-top: 64px

    &__highlights
        margin-top: 56px

        @include tablet
            margin-top: 72px

        @include desktop
            grid-row-gap: 16px

    &__highlights-image-list
        grid-row-gap: 24px

        @include desktop
            grid-row-gap: 20px

    &__footer
        margin-top: 48px
        margin-bottom: 16px

        @include tablet
            margin-top: 64px

    &__highlights-primary-photo
        flex-grow: 1