.headline
    margin: 0
    font-family: "archia", sans-serif

.headline_style_1
    font-size: 48px
    font-weight: 700
    line-height: 52px
    letter-spacing: -0.06em
    
    @include tablet
        font-size: 60px
        line-height: 64px

    @include desktop
        font-size: 84px
        line-height: 84px

.headline_style_2
    font-size: 36px
    line-height: 40px
    letter-spacing: -0.04em

    @include tablet
        font-size: 48px
        line-height: 52px

    @include desktop
        font-size: 56px
        line-height: 64px

.headline_style_3
    font-size: 28px
    line-height: 44px
    letter-spacing: -0.04em

    @include tablet
        font-size: 40px

.headline_style_6
    font-size: 20px
    font-weight: 700
    line-height: 24px
    letter-spacing: -0.03em